framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native
    
    serializer:
        mapping:
            paths: ['%kernel.project_dir%/config/serialization']
    
    property_info:
        enabled: true
    
    validation:
        email_validation_mode: html5
        enable_attributes: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
